<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <section class="cart">
    <section class="section-cart">
      <header class="section-cart__header">
        <div class="container">
          <h1 class="section-cart__title">
            Корзина товаров
  
          </h1>
        </div>
      </header>
      <div class="section-cart__body">
        <div class="container">
          <section class="cart">
            <header class="cart-header">
              <div class="cart-header__title">Наименование</div>
              <div class="cart-header__count">Количество</div>
              <div class="cart-header__cost">Стоимость</div>
            </header>
            <section class="product">
              <div class="product__img">
                <img src="" alt="">
                IMG
              </div>
              <div class="product__title">Apple</div>
              <div class="product__count">
                COUNT
              </div>
              <div class="product__price">
                700$
              </div>
              <div class="product__controls">
                <button type="button">
                  <img src="" alt="Delete">
                </button>
              </div>
            </section>
            <footer class="cart-footer">
              <div class="cart-footer__count">3 ед.</div>
              <div class="cart-footer__price">700$</div>
            </footer>
          </section>
        </div>
      </div>
    </section>
    <section class="order">
      <div class="total-products">
        Total products: 
        <span class="total-products-span"></span>
      </div>
      <div class="total-price">
        Total price: 
        <span class="total-price-span"></span>
      </div>
      <div class="new-price">
        Total price: 
        <span class="new-price-span"></span>
      </div>
      <div class="appl-codes">
        <h2>Applied codes:</h2>
        <div class="appl-promo">
          EPAM Systems - 10% - 
          <span class="drop-code">DROP</span>
        </div>
        <div class="appl-promo">
          Rolling Scopes School - 10% - 
          <span class="drop-code">DROP</span>
        </div>
      </div>
      <input type="text" class="promo-input" placeholder="Enter promo code">
      <span class="promo-ex">Promo for test: 'RS', 'EPM'</span>
      <button type="button" class="buy-now-button">BUY NOW</button>
    </section>
  </section>
</body>
</html>