.main-header {
  padding-bottom: 60px;
  background-color: $basic-grey;
  color: $basic-black;
  @extend %font-add;
  @include font(1.8rem, 2.4rem);
}

.header-logo {
  width: 220px;
  height: 47px;
  padding: 12px 0 17px 0;
  
}

.order-nav-wrapper {
  background-color: $basic-extragrey;
}

.order-nav {
  display: flex;
  height: 42px;
  // grid-template-columns: min-content 1fr max-content;
  &:not(.make-order):hover::before {
    opacity: 1;
  }
  &:not(.make-order):focus::before {
    opacity: 1;
  }
}

.cart:active {
  background-color: #161D29;
}

.order-nav a:not(.make-order):active::before {
  opacity: 0.3;
}

.order-info {
  margin-left: auto;
  display: flex;
  align-items: stretch;
}


.order-info-item a {
  position: relative;
  display: block;
  height: 42px;
  width: 150px;
  box-sizing: border-box;
  padding: 9px 0;
}

a.cart {
  padding-left: 49px;
}

a.full-cart {
  background: $basic-red;
  width: 136px;
  padding-left: 35px;
  margin-left: 14px;
}

.order-info-item:not(:last-child) a::before {
  content: "";
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  opacity: 0.3;
}

.cart::before {
  width: 15px;
  height: 15px;
  left: 26px;
  background-image: url("../img/icon-cart.svg")
}

.full-cart::before {
  left: 12px;
}

.make-order {
  background-color: $basic-green;
  text-align: center;
  &:focus {
    background-color: #5FBB2D;
  }
  &:hover {
    background-color: #5FBB2D;
  }
  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: $basic-green;
  }

}

.header-inner {
  height: 158px;
  box-sizing: border-box;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}

.header-inner p {
  margin: 0;
  padding: 0;
}

.description {
  color: $basic-red;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin-left: 30px;
  margin-top: -3px;
}

.header-tel {
  position: relative;
  display: block;
  font-size: 2.1rem;
  line-height: 3.0rem;
  font-weight: 700;
  color: $basic-red;
  width: 270px;
  height: 45px;
  box-sizing: border-box;
  border: 3px solid $basic-white;
  padding-top: 4px;
  padding-left: 74px;
  margin-bottom: 3px;
  &::before {
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 10px;
    left: 39px;
    background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.header-contacts {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $basic-darkgrey;
  margin-left: 93px;
}

.header-contacts p {
  text-align: center;
}

.site-nav-wrapper {
  background-color: var(--basic-darkgrey);
  height: 60px;
  box-sizing: border-box;
  padding: 0 25px;
  box-shadow: 0 -5px 0 0 var(--basic-extragrey) inset;
}

.site-nav {
  display: flex;
  
}

.site-nav-item {
  flex-grow: 1;
}

.site-nav-item a {
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 15px;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: var(--basic-extragrey);
}

.site-nav a:active {
  background-color: #1D2739;
  color: rgba(255,255,255,0.5);
}

